*{
    background-color:blue;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {b
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #070202;
}
